<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href=[https://fonts.googleapis.com/icon?family=Material+Icons](https://fonts.googleapis.com/icon?family=Material+Icons) rel="stylesheet">
</head>
<body>
    

<div id="contenedor">
    
    <div id="menu">
        <div id="logo"><img src="assets/img/logo_icon.png" alt="Logo"></div>
        <a class="a" routerLink="/" routerLinkActive="ac">Inicio</a>
        <a class="a" routerLink="/adocao" routerLinkActive="ac">Adoção</a>
        <a class="a" routerLink="/solicitacao" routerLinkActive="ac">Solicitação</a>
        <a class="a" routerLink="/quienes_somos" routerLinkActive="ac">Quem_somos</a>
        <div id="salir"><span>Usuario:</span><a class="a" >Sair</a></div>
      
<!--        <div class="bars"><img src="assets/img/logo_icon.png" alt=""></div> 
 -->
        <img class="bars" src="assets/img/bars-solid.svg" alt="">
    </div>
    <div id="banner"></div>
    <div id="contenido">
      <!-- enlaces -->
      <router-outlet></router-outlet>
    </div>
    
        <div id="admin_articulos">
            <form >
                <div class="admin"><label for="">Administração</label></div>
                
                <input class="inputTxt" type="text" placeholder="Usuario">
                <input class="inputTxt" type="password" placeholder="Senha">
                <input class="inputBtn" type="submit" value="Enviar">
            </form>
            <br>
            <div class="admin">Artigos</div>
            <div ><iframe class="art" src="https://www.youtube.com/embed/UonCZgYpDkQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div class="textart">De quais vacinas meu cão precisa?</div>

            <div><iframe class="art" src="https://www.youtube.com/embed/Fu_rgDw9Fcw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div class="textart"> 5 dicas para fazer o seu cão gostar de banho.</div>
        </div>

<!-- 
        <div id="pie_pagina">
            <div id="izquierda" class="contenedorPie">
                <div id="ubicacion"></div>
                <p class="endereco">Endereco:Ave Matapi No. 203, Santa teresinha, Sao Paulo, Brasil.
                <em><p>Esperamos su visita, con gusto le atenderemos y retiraremos todas sus dudas </p></em>
                </p>
                     
                <div id="info">
                    <strong>
                   <p> Empresa:</p>
                    <p>Telefone: </p> 
                   <p>E-Mail:</p> 
                   <p>Site: </p> 
                   
                </strong>
                </div>
                <div id="infoDesc">
                   <p>Fundação AgA "Adote e ganhe um Amigo."</p> 
                   <p>12345678901</p> 
                   <p>fundacao_aga@gmail.com </p>
                   <p> www.aga.com.br </p>
                   
                </div>
               
                <div id="social">
                   <strong> Redes Sociales</strong> <br> <br>
                    facebook | Histagram | Linked 
                </div>
                
            </div>
            
            <hr><div id="derecha" class="contenedorPie">
                <h4>Envie-nos a sua opinião</h4>
                <form>
                    <input id="NomeComent" class="inputTxt" type="text" placeholder="Nome">
                    <input id="MailComent" class="inputTxt" type="text" placeholder="E-mail">
                    <textarea class="comentario" name="Comentario" id="" cols="30" rows="10" placeholder="Comentario"></textarea>
                    <input id="BtnComent" class="inputBtn" type="submit" value="Enviar">
                </form>
            </div>
        </div>
 -->
         
    <div class="contac_pie_paginaa">

        <h1 class="logoo">Cont- <span>adopt-me</span></h1>

        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3>Envie-nos a sua opinião </h3>
                <form action="">
                    <p>
                        <label>Name</label>
                        <input id="NomeComent" class="inpunTxt" type="text" placeholder="nome" >
                    </p>
                    <br>
                    <p>
                        <label>Email</label>
                        <input id="MailComent" type="text" name="affair" placeholder="Email">
                    </p>
                    <p class="block">
                       <label>Message</label> 
                        <textarea name="Comentario" placeholder="Comentario" rows="3"></textarea>
                    </p>
                    <p class="block">
                        <button>Envie-nos</button>
                    </p>
                </form>
            </div>
          
                <div class="contact-info">
                     <!--    <mat-icon >icon_name</mat-icon>
                        <mat-icon svgIcon="iconName"></mat-icon> -->

                    <ul>
                        <li><b>Empresa:</b> Fundação AgA "Adote e ganhe um Amigo."</li>
                        <li><i class="drink-mocha"></i><b>Telefone:</b> (989) 111 111 112</li>
                        <li><i class="fas fa-envelope-open-text"></i><b>Email:</b> contact@website.com</li>
                    </ul>
                    <h3>Endereco:</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234938.5509995052!2d-43.45569656269438!3d-23.063582788241607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd50ffe726191%3A0xbb0215da9c59a67b!2sIpanema%2C%20R%C3%ADo%20de%20Janeiro%20-%20Estado%20de%20R%C3%ADo%20de%20Janeiro!5e0!3m2!1ses-419!2sbr!4v1600542115211!5m2!1ses-419!2sbr" width="80%" height="%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 
                    <p>Ave Matapi No. 203, Santa teresinha, Sao Paulo, Brasil. Esperamos su visita, con gusto le atenderemos y retiraremos todas sus dudas </p>
                    <div id="social">
                            <strong> Redes Sociales</strong> <br>
                            facebook | Histagram | Linked 
                </div>
                     
            </div>
        </div>

    </div>
 
</div>

</body>
</html>
