<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<!-- CSS only -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
<div id="contenedor">
             <header>      
                <div class="logo">
                    <a href="#" ><img src="assets/img/logo_icon.png" alt="Logo" width="264"></a>
                </div>  
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu"><img src="assets/img/menu.png" width="30" alt=""></label>          
                <nav class="menu">            
                    <ul>                
                        <li><a href="" class="link-color" routerLink="/home" routerLinkActive="ac" >Inicio</a></li>
                        <li><a href="" class="link-color" routerLink="/adocao" routerLinkActive="ac">Adopçao</a></li>
                        <li><a href="" class="link-color" routerLink="/solicitacao" routerLinkActive="ac">Solicitaçao</a></li>
                        <li><a href="" class="link-color" routerLink="/quienes_somos" routerLinkActive="ac">Quem Somos</a></li>
                        <li><a href="#contacto" class="link-color" >Contacto </a></li>
                    </ul>
                </nav>
            </header>

    <div id="banner"></div>
    <div id="contenido">
      <!-- enlaces -->
      <router-outlet></router-outlet>
    </div>
    
  
        <div id="admin_articulos">
            <form >
                <div class="admin"><label for="">Administração</label></div>
                
                <input class="inputTxt" type="text" placeholder="Usuario">
                <input class="inputTxt" type="password" placeholder="Senha">
                <input routerLink="/admin" class="inputBtn" type="submit" value="Enviar">
            </form>
            <br>
            
            <div class="admin">Artigos</div>
            <div ><iframe class="art" src="https://www.youtube.com/embed/UonCZgYpDkQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div class="textart">De quais vacinas meu cão precisa?</div>

            <div><iframe class="art" src="https://www.youtube.com/embed/Fu_rgDw9Fcw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div class="textart"> 5 dicas para fazer o seu cão gostar de banho.</div>
        </div>


        <div class="contac_pie_paginaa">

            <h1 class="logoo" id="contacto">Cont- <span>adopt-me</span></h1>
    
            <div class="contact-wrapper animated bounceInUp">
                <div class="contact-form">
                    <img src="assets/img/Adicionar um título (13).png" width="100%">
<!--                     <h3>Envie-nos a sua opinião </h3>
 -->                    <form action="">
                        <p>
                            <label>Name</label>
                            <input id="NomeComent" class="inpuntTxt" type="text" placeholder="nome" >
                        </p>
                        <br>
                        <p>
                            <label>Email</label>
                            <input id="MailComent"  class="inputTxt" type="text"  placeholder="E-mail">
                        </p>
                        <p class="block">
                           <label>Message</label> 
                            <textarea name="Comentario" placeholder="Comentario" rows="3"></textarea>
                        </p>
                        <p class="block">
                            <button id="BtnComent" class="inputBtn">Envie-nos</button>
                        </p>
                    </form>
                </div>
              
                    <div class="contact-info" >
                         <!--    <mat-icon >icon_name</mat-icon>
                            <mat-icon svgIcon="iconName"></mat-icon> -->
    
                        <ul>    
                           <li><i class="fas fa-suitcase"></i> Fundação AgA "Adote e ganhe um Amigo."</li>
                         <li> <i class="fas fa-phone-alt"></i> (989) 111 111 112</li>                              
                            <li><i class="fas fa-envelope"></i> Contact@website.com</li>
                        </ul>
                        <h3>Endereco:</h3>
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8447371669067!2d-46.50359892844833!3d-23.574019161489367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce67769de1dd6f%3A0xa9041f3ac20c1b80!2sJardim%20Santa%20Teresinha%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003572-130!5e0!3m2!1spt-BR!2sbr!4v1607474165346!5m2!1spt-BR!2sbr" width="80%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        <p>Ave Matapi No. 203, Santa teresinha, Sao Paulo, Brasil. Esperamos su visita, con gusto le atenderemos y retiraremos todas sus dudas </p>
                        <div id="social">
                                <strong> Redes Sociales</strong> <br>
                             <a> <i class="fab fa-facebook-square"></i>  | <i class="fab fa-instagram"></i>  | <i class="fab fa-linkedin"></i>  </a> 
                    </div>        
                </div>
            </div>
        </div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
</body>
</html>
